body {
  margin: 0;
}

.centerBlocklyDiv{
  height:480px; 
  width: 400px; 
  position: absolute;
}

.centerBlocklyDivResize{
  height:480px; 
  width: 666px; 
  position: absolute;
}

.centergame{
  height: 480px; 
  width: 800px; 
  float: left;
}

.blocklyTextMy1{
  height: 250px;  
  /* height: 474px; */
  width: 394px;             
  position: absolute;   
  background: #333;
  color: rgb(236, 236, 236);           
  resize: none;
  font-size:16px;
  z-index: 100;
  display: none;
}

.blocklyTextMy2{
  height: 219px;    
  width: 394px;             
  position: absolute;   
  background: #333;
  color: rgb(236, 236, 236);         
  margin-top: 255px;
  resize: none;
  font-size:16px;
  z-index: 100;
  display: none;
}