body {
  margin: 0;
}

.centerBlocklyDiv{
  height:425px; 
  width: 400px; 
  position: absolute;
  margin-top: 2px;
}

.centergame{
  height: 480px; 
  width: 800px; 
  float: left;
}

.blocklyText{
  height: 192px; 
  width: 395px;             
  position: absolute;            
  margin-left: 400px;
  resize: none;
  margin-top: 2px;
}